flows/sia-server-flow.json
[
  {
    "id": "e1f93aad.3c7f78",
    "type": "tab",
    "label": "SIA-Server-Flow",
    "disabled": false
  },
  {
    "id": "inject1",
    "type": "inject",
    "z": "e1f93aad.3c7f78",
    "name": "Test ARM",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "topic": "command",
    "payload": "{"action":"ARM","account":"123456","partition":"01","code":"0000"}",
    "payloadType": "json",
    "x": 150,
    "y": 80,
    "wires": [["sia1"]]
  },
  {
    "id": "sia1",
    "type": "sia-server",
    "z": "e1f93aad.3c7f78",
    "name": "SIA Server",
    "port": "10002",
    "password": "",
    "account": "123456",
    "debugMode": true,
    "rawOutput": true,
    "x": 350,
    "y": 80,
    "wires": [["debug1"], ["debug2"]]
  },
  {
    "id": "debug1",
    "type": "debug",
    "z": "e1f93aad.3c7f78",
    "name": "Parsed SIA",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 600,
    "y": 50,
    "wires": []
  },
  {
    "id": "debug2",
    "type": "debug",
    "z": "e1f93aad.3c7f78",
    "name": "Errors / RAW",
    "active": true,
    "tosidebar": true,
    "complete": "raw",
    "x": 610,
    "y": 110,
    "wires": []
  }
]
